<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}DataLynx{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="site-header">
        <div class="container header-content">
            <a href="{{ url_for('accueil.index') }}" class="logo">DataLynx</a>

            <nav>
                <a href="{{ url_for('accueil.index') }}">Accueil</a>
                <a href="{{ url_for('pages.presentation') }}">Données</a>

                {% if session.get("user") %}
                    <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                    <a href="{{ url_for('auth.logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="nav-btn">Connexion</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container">
        {% block contenu %}{% endblock %}
    </main>

    <footer class="site-footer">
        <p>SAE 2.01 · Données de santé · Data Ameli</p>
    </footer>
</body>
</html>